Repository CNES/Pandora_libSGM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    -   id: pylint
        name: PyLint
        entry: python -m pylint --rcfile=.pylintrc
        language: system
        files: \.py$
        stages: [commit]

    -   id: sphinx-checking
        name: Checking Sphinx building
        entry: python setup.py build_sphinx
        language: system
        files: ^(doc/.*|libsgm_python/.*)$
        pass_filenames: False
        stages: [ push ]

feat: add mypy
  .pre-commit-config.yaml
  libsgm_python/lr_manager.py
  libsgm_python/sgm_python_parall.py
  setup.py
  test/test_libsgm_python/test_lr_manager.py
Due: pylint, sphinx-checking

feat: add black hook
  .pre-commit-config.yaml
  doc/source/Doxyfile
  libsgm_python/lr_manager.py
  libsgm_python/sgm_python.py
  libsgm_python/sgm_python_parall.py
Due: pylint, sphinx-checking

refactor: missing black reformated files
  doc/source/conf.py
  setup.py
  test/test_libsgm_python/common.py
  test/test_libsgm_python/disable_test_sgm_python_parall.py
  test/test_libsgm_python/test_lr_manager.py
  test/test_libsgm_python/test_sgm_python.py
Due: pylint, sphinx-checking

feat: add version from setuptools_scm
  CHANGELOG.md
  setup.py
Due: pylint

doc: manually generated api for sgm_python
  CHANGELOG.md
  doc/source/api_reference.rst
  doc/source/api_reference/libsgm_python/index.rst
  doc/source/api_reference/libsgm_python/lr_manager/index.rst
  doc/source/api_reference/libsgm_python/sgm_python/index.rst
  doc/source/api_reference/libsgm_python/sgm_python_parall/index.rst
  doc/source/api_reference/modules.rst
Due: sphinx-checking

feat: add piecewise optimization
  sources/lib/sgm.cpp
  sources/lib/sgm.hpp
  sources/sgm_wrapper.cpp
  sources/sgm_wrapper.pyx
Due: none

feat: add piecewise optimization
  sources/sgm_wrapper.cpp
Due: none

feat: add piecewise optimization c++
  sources/lib/sgm.cpp
  sources/lib/sgm.hpp
  test/functions_unittest.cpp
Due: none

feat: clean unused data
  test/functions_unittest.cpp
Due: none

doc: update changelog
  CHANGELOG.md
Due: none

feat: add piecwise optimization python and add mypy.ini
  libsgm_python/lr_manager.py
  libsgm_python/sgm_python.py
  libsgm_python/sgm_python_parall.py
  mypy.ini
  test/test_libsgm_python/disable_test_sgm_python_parall.py
  test/test_libsgm_python/test_lr_manager.py
  test/test_libsgm_python/test_sgm_python.py
Due: pylint, sphinx-checking

feat: tests for piecewise optimization
  test/functions_unittest.cpp
Due: none

feat: update wrapper
  sources/sgm_wrapper.cpp
Due: none

doc: update doc piecewise optimization, developper
  doc/source/developer_guide.rst
  doc/source/developer_guide/piecewise_optimization.rst
  doc/source/images/piecewise_optimization.png
Due: sphinx-checking

fix: correct bug memory allocation
  CHANGELOG.md
  sources/lib/sgm.cpp
  sources/lib/sgm.hpp
  sources/sgm_wrapper.cpp
  sources/sgm_wrapper.pyx
Due: none

feat: remove ref, add buffer explanations, and uniformize code
  sources/lib/sgm.cpp
  sources/lib/sgm.hpp
  test/functions_unittest.cpp
Due: none

doc: Update CHANGELOG.md
  CHANGELOG.md
Due: none

doc: add Contributing file
  CONTRIBUTING.md
Due: none

ci: from travis to gh action
  .github/workflows/libsgm_ci.yml
  .travis.yml
  README.md
Due: none

ci: build python package missing on github Action pipeline
  .github/workflows/libsgm_ci.yml
Due: none

ci: bugfix on creation of source distribution for pypi
  .github/workflows/libsgm_ci.yml
Due: none

ci: schedule build every day at 02 am on gh action
  .github/workflows/libsgm_ci.yml
Due: none

feat: add setup.cfg and pyproject.toml
  pyproject.toml
  setup.cfg
  setup.py
Due: pylint

doc: fix CHANGELOG.md syntax
  CHANGELOG.md
Due: none

ci: fix GH action by activating CI when push action
  .github/workflows/libsgm_ci.yml
Due: none

fix: correct entry point name
  CHANGELOG.md
  setup.cfg
Due: none

fix: re correct entry point name
  setup.cfg
Due: none

fix: manage compatibility between numpy and python version to avoid binary incompatibilty numpy error message
  pyproject.toml
  setup.cfg
Due: none

fix: add cmdclass parameter on setup.py for google colab install
  CHANGELOG.md
  setup.py
Due: pylint

feat: add options in setup.cfg
  setup.cfg
Due: none

minor: pylint problems
  libsgm_python/lr_manager.py
  libsgm_python/sgm_python.py
  libsgm_python/sgm_python_parall.py
  test/test_libsgm_python/disable_test_sgm_python_parall.py
  test/test_libsgm_python/test_sgm_python.py
Due: pylint, sphinx-checking

test: create generator for tests
  test/test_libsgm_python/disable_test_sgm_python_parall.py
Due: pylint

doc: type of direction for mypy
  libsgm_python/sgm_python.py
  libsgm_python/sgm_python_parall.py
  test/test_libsgm_python/disable_test_sgm_python_parall.py
  test/test_libsgm_python/test_lr_manager.py
Due: pylint, sphinx-checking

minor: clean pylintrc
  .pylintrc
Due: none

update .gitignore file
  .gitignore
Due: none

fix: add setuptools_scm info in pyproject.toml
  pyproject.toml
Due: none

fix: unconstrain numpy version
  setup.cfg
Due: none

minor: upgrade numba version
  setup.cfg
Due: none

minor: align packages versions with pandora
  pyproject.toml
  setup.cfg
Due: none
