Repository CNES/Pandora_libSGM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, sphinx-checking, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    -   id: pylint
        name: PyLint
        entry: python -m pylint --rcfile=.pylintrc
        language: system
        files: \.py$
        stages: [commit]
    -   id: sphinx-checking
        name: Checking Sphinx building
        entry: python setup.py build_sphinx
        language: system
        files: ^(doc/.*|libsgm_python/.*)$
        pass_filenames: False
        stages: [ push ]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: \.py$
        stages: [ commit ]
    -   id: black
        name: black
        entry: black --line-length=120
        language: system
        files: \.py$
        stages: [ commit ]
        types: [ python ]

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: update minimal python version 3.7
  .github/workflows/libsgm_ci.yml
  setup.cfg
Due: none

feat: add Authors.md file
  AUTHORS.md
Due: none

refactor: adapt setup.cfg dependencies to setuptools 67.0.0
  setup.cfg
Due: none

refactor: update githubAction build command
  .github/workflows/libsgm_ci.yml
  setup.cfg
Due: none

feat: add missing build install in githubAction
  .github/workflows/libsgm_ci.yml
  setup.cfg
Due: none

feat: CI github test python
  .github/workflows/libsgm_ci.yml
Due: none

doc: changelog
  CHANGELOG.md
Due: none

feat: deletion of pip install codecov
  .github/workflows/libsgm_ci.yml
  CHANGELOG.md
Due: none

feat: udpate minimal python version to 3.8
  setup.cfg
Due: none

changelog update
  CHANGELOG.md
Due: none

update workflow github
  .github/workflows/libsgm_ci.yml
  CHANGELOG.md
Due: none

chore: fix include_dirs path in setup.py
  setup.py
Due: pylint, mypy, black

chore: update setuptools dependency
  pyproject.toml
  setup.cfg
Due: none

chore: remove deprecated build_sphinx command
  setup.py
Due: pylint, mypy, black

chore: use native Cython import of setuptools
  setup.py
Due: pylint, mypy, black

doc: fix doc dependencies and generation instructions
  README.md
  doc/Doxyfile
  doc/Makefile
  setup.cfg
Due: sphinx-checking

chore: make libSGM installable in editable mode
  .gitignore
  MANIFEST.in
  Makefile
  doc/source/conf.py
  setup.cfg
  setup.py
  sonar-project.properties
  src/libSGM/lib/sgm.cpp
  src/libSGM/lib/sgm.hpp
  src/libSGM/sgm_wrapper.cpp
  src/libSGM/sgm_wrapper.pyx
  src/libsgm_python/__init__.py
  src/libsgm_python/lr_manager.py
  src/libsgm_python/sgm_python.py
  src/libsgm_python/sgm_python_parall.py
  test/functions_unittest.cpp
Due: pylint, sphinx-checking, mypy, black

doc: update about cython
  doc/source/developer_guide/before_coding.rst
Due: sphinx-checking

chore: exclude generated files from Sonar analysis
  sonar-project.properties
Due: none

lint: remove tab characters
  src/libSGM/lib/sgm.cpp
Due: none

doc: document structures APIs
  src/libSGM/lib/sgm.hpp
Due: none

AUTHORS.md file update
  AUTHORS.md
Due: none

copyright update
  Makefile
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
  setup.cfg
  setup.py
  src/libSGM/lib/sgm.cpp
  src/libSGM/lib/sgm.hpp
  src/libSGM/sgm_wrapper.pyx
  src/libsgm_python/lr_manager.py
  src/libsgm_python/sgm_python.py
  src/libsgm_python/sgm_python_parall.py
  test/functions_unittest.cpp
  test/test_libsgm_python/common.py
  test/test_libsgm_python/disable_test_sgm_python_parall.py
  test/test_libsgm_python/test_lr_manager.py
  test/test_libsgm_python/test_sgm_python.py
Due: pylint, sphinx-checking, mypy, black

changelog update for release
  CHANGELOG.md
Due: none

setup : change numpy version
  setup.cfg
Due: none

test: remove numpy warning
  test/test_libsgm_python/test_sgm_python.py
Due: pylint, mypy, black

setup: update numpy version
  setup.cfg
Due: none

fix: remove os.environ to set the compiler
  setup.py
Due: pylint, mypy, black

fix: PyArray_SetBaseObject to avoid Assignment to a read-only property error
  src/libSGM/sgm_wrapper.pyx
Due: none

fix: update numpy build dependency and correct dependencies numpy, numba for python>=3.8
  pyproject.toml
  setup.cfg
Due: none

fix: typos in README
  README.md
Due: none

feat: packaging evolution and clean
  docs/Doxyfile
  docs/Makefile
  docs/make.bat
  docs/source/api_reference.rst
  docs/source/api_reference/libsgm_python/index.rst
  docs/source/api_reference/libsgm_python/lr_manager/index.rst
  docs/source/api_reference/libsgm_python/sgm_python/index.rst
  docs/source/api_reference/libsgm_python/sgm_python_parall/index.rst
  docs/source/api_reference/sgm_wrapper.rst
  docs/source/conf.py
  docs/source/developer_guide.rst
  docs/source/developer_guide/before_coding.rst
  docs/source/developer_guide/lr_manager.rst
  docs/source/developer_guide/memory_optimization.rst
  docs/source/developer_guide/piecewise_optimization.rst
  docs/source/getting_started.rst
  docs/source/getting_started/example.rst
  docs/source/getting_started/installation.rst
  docs/source/getting_started/quick_overview.rst
  docs/source/images/lr_manager.png
  docs/source/images/piecewise_optimization.png
  docs/source/images/sgm_memory_optim.png
  docs/source/index.rst
  docs/source/user_guide.rst
  pyproject.toml
  setup.cfg
  setup.py
Due: pylint, mypy, black

doc: update README, clean, typo
  README.md
Due: none

feat: add root Python Makefile merged with C++ one, update gitignore, precommit, clean
  .gitignore
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  setup.cfg
Due: none

fix: typos and format errors
  src/libSGM/sgm_wrapper.pyx
  src/libsgm_python/lr_manager.py
  tests/test_libsgm_python/disable_test_sgm_python_parall.py
  tests/test_libsgm_python/test_lr_manager.py
  tests/test_libsgm_python/test_sgm_python.py
Due: pylint, mypy, black

fix: update pylint error and configuration, remove flake8 from Makefile
  .pylintrc
  Makefile
  tests/test_libsgm_python/disable_test_sgm_python_parall.py
Due: pylint, mypy, black

docs: update python and C++ doc generation with Makefile, clean api reference auto generation, clean doc, typos, update README
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/Doxyfile
  docs/Makefile
  docs/source/api_reference.rst
  docs/source/api_reference/libsgm_python/index.rst
  docs/source/api_reference/libsgm_python/lr_manager/index.rst
  docs/source/api_reference/libsgm_python/sgm_python/index.rst
  docs/source/api_reference/libsgm_python/sgm_python_parall/index.rst
  docs/source/conf.py
  docs/source/developer_guide/before_coding.rst
  docs/source/getting_started/example.rst
  docs/source/getting_started/installation.rst
  docs/source/index.rst
  docs/source/sgm_wrapper.rst
  docs/source/user_guide.rst
  src/libSGM/sgm_wrapper.pyx
Due: pylint, mypy, black
