Repository CNES/Pandora_libSGM: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: Isort
        stages: [pre-commit]
        language: system
        entry: isort
        types: [python]

      - id: black
        name: Black
        stages: [pre-commit]
        language: system
        entry: black
        types: [python]

      - id: pylint
        name: PyLint
        stages: [pre-commit]
        language: system
        entry: pylint --rcfile=.pylintrc
        files: \.py$

      - id: mypy
        name: mypy
        stages: [pre-commit]
        language: system
        entry: mypy
        files: \.py$

      - id: sphinx-checking
        name: Checking Sphinx building
        entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
        language: system
        files: ^(docs/.*|libsgm_python/.*)$
        pass_filenames: False
        stages: [pre-push]

fix: correct gitlab ci to push tag on github
  .gitlab-ci.yml
Due: none

fix: change Usine Logicielle tag sor gitlab ci
  .gitlab-ci.yml
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

update sonar version
  sonar-project.properties
Due: none

update AUTHORS.md
  AUTHORS.md
Due: none

fix: disable trivy
  .gitlab-ci.yml
Due: none

fix: correct docker image for gitlab ci
  .gitlab-ci.yml
Due: none

move minimal python version to 3.10
  .github/workflows/libsgm_ci.yml
  Makefile
  docs/source/getting_started/installation.rst
  setup.cfg
  sonar-project.properties
Due: sphinx-checking

fix: correct black
  setup.py
  src/libsgm_python/lr_manager.py
  src/libsgm_python/sgm_python_parall.py
  tests/test_libsgm_python/disable_test_sgm_python_parall.py
  tests/test_libsgm_python/test_lr_manager.py
Due: isort, black, pylint, mypy

fix: correct mypy
  src/libsgm_python/sgm_python.py
  src/libsgm_python/sgm_python_parall.py
Due: isort, black, pylint, mypy

fix: correct mypy configuration after upgrading version
  mypy.ini
Due: none
